body {
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
}
.topo {
    height: 92px;
    width: 100%;
    background-color: #CF2B2B;
    position: fixed;
    top: 0;
    left: 0;
}
h1 {
    font-family: 'Righteous', cursive;
    font-size: 44px;
    color: #fff;
    margin: 12px 0 0px 21px;
}
h2 {
    color: #fff;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    margin-left: 21px;
}
.titulo_lista {
    font-family: 'Righteous', cursive;
    font-size: 26px;
    margin: 27px 0 0 19px;
}
div:nth-of-type(2) {
    margin-top: 123px;
}
ul {
    display: flex;
    overflow: scroll;

    height: 216px;
    background-color: #E5E5E5;
    margin-top: 17px;
    padding: 0 11px;
}
ul:last-of-type {
    margin-bottom: 108px;
}
li {
    height: 100%;
    width: 172px;
    margin: 0 8px;
    padding: 18px 14px 13px 14px;
    
    background: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}
li img {
    width: 144px;
    object-fit: cover;
}
.nome_prato {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333;
    margin-top: 5px;
}
.descricao_conteudo {
    display: flex;
    align-items: center;
    height: 45px;
    font-size: 15px;
    font-weight: 300;
    color: #A6A6A6;
}
.preço {
    font-weight: 400;
    font-size: 16px;
    color: #000;
    margin-top: 3px;
}
.conclusao_pedido {
    position: fixed;
    bottom: 0;
    left: 0;
    
    height: 92px;
    width: 100%;
    padding: 15px 25px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
button {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #fff;

    width: 364px;
    height: 61px;
    padding: 8px 70px;
    background: #CBCBCB;
    border-radius: 50px;
}


